services:
  backend:
    build:
      context: ./server    
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - RECIPES_MONGO_URI=mongodb://mongo:27017/RECIPES_DB
      - USERS_MONGO_URI=mongodb://mongo:27017/USERS_DB
      - SPOON_KEY=SPOONACULAR_API_KEY_PLACEHOLDER

    depends_on:
      - mongo

  frontend:
    build:
      context: ./app       
    container_name: frontend
    ports:
      - "3000:80"        
    depends_on:
      - backend

  mongo:
    image: mongo:latest
    command: ["mongod", "--quiet", "--logpath", "/dev/null"]
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
