.search-bar-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-direction: colum;
  align-items: center;
  position: relative;
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.search-bar input {
  flex: 1;
  padding: 8px 12px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-bar button {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #f4f4f4;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e0e0e0;
}


.search-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.filter-btn {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.search-settings-box {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 12px;
  z-index: 100;
  width: 250px;
}

.filter-input-wrapper {
  position: relative;
  margin-top: 12px;
  width: 100%;
  max-width: 500px;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
}

.selected-tags input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 80px;
  padding: 4px;
}

.tag-chip {
  background: #eee;
  padding: 2px 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.remove-tag {
  margin-left: 4px;
  cursor: pointer;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  z-index: 100;
  border-radius: 4px;
  margin-top: 2px;
}

.filter-option {
  padding: 6px 8px;
  cursor: pointer;
}

.filter-option:hover {
  background-color: #f0f0f0;
}
